<h1>Welcome to the Bounty Board</h1>
<h2>
	A project that connects artists to fans and fans to the artwork they
	love.
</h2>
<p>
	Content coming soon to a bounty board near you. Check this space for future
	developments.
</p>

<%= link_to 'Post a Bounty', '#', class: 'btn btn-large btn-primary' %>

