# encoding: UTF-8

<div class="row-fluid">
	<div class="span3">
		<%= render 'layouts/sidebar' %>
	</div>
	<div class="span9">
		<div class="row-fluid">
			<%= render 'bounty/showAll' %>
		</div>
	</div>
</div>
