# encoding: UTF-8

<div class="row-fluid">
	<div class="span3">
		<%= render 'layouts/sidebar' %>
	</div>
	<div class="span9">
		<div class="hero-unit">
			<h3 class="board-header">Welcome to the Bounty Board</h3>
			<h4 class="board-subheader">
				A project that connects artists to fans and fans to the artwork they
				love.
			</h4>
			<%= render 'layouts/post_bounty_button' %>
		</div>
		<div class="row-fluid">
			<%= render 'bounty/showAll' %>
		</div>
	</div>
</div>
