<% if @bounties %>
	<% @bounties.each do |b| %>
		<% unless b.private %>
			<div class="span3 bountyCell">
			<div class="ribbonWrapper"><div class="ribbon"><%= b.price %></div></div>

				<div class="bountyName"><%= b.name %></div>
				<div class="candidateWrapper">
					<% if @candidacies %>
						<% @candidacies.each do |c| %>
							<% if c.bounty.id == b.id %>
								<div id="<%= c.user.name %>" class="candidate"></div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>