<% if @bounty %>
	<% @bounty.each do |b| %>
		<% unless b.private %>
			<div class="span3 bounty">
			<div class="ribbonWrapper"><div class="ribbon">$ <%= b.price %></div></div>

				<div class="name"><%= b.name %></div>
				<div class="candidates">
					<% b.candidacies.each do |c| %>
						<div id="<%= c.user.name %>"></div>
					<% end %>
 				</div>
				<div class="shortDesc">
					A description would go here if this bounty had one. It does not yet, and we will get to that when we have time. A description would go here if this bounty had one. It does not yet, and we will get to that when we have time.
					<div class="readMore"><div class="btn btn-primary">Read More</div></div>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>