# encoding: UTF-8

<div class="row-fluid">
  <div class="span10 offset1">
      <%= render 'bounties/show_bounty_list' %>
      <!--    It's a secret to everybody. -->
      <%= render 'layouts/secret_panel' %>
  </div>
</div>
