<div id="bounty-list">
  <% if @bounty %>
    <% @bounty.sort{|b,a| a.created_at <=> b.created_at}.each do |b| %>
      <% unless b.private %>
        <div class="bounty-square">
          <div class="nail"></div>
          <div class="ribbon-wrapper"><div class="ribbon"><%= humanized_money_with_symbol b.price %></div></div>
          <div class="name"><%= b.name %></div>
          <div class="short-desc">
            <%= b.desc %>
            <div class="control-area">
              <div class="vote-controls">
                <div class="upvote"></div>
                <div class="downvote"></div>
              </div>
              <%=   link_to 'Read More', bounty_path(b.id), class: 'bounty-button read-more-button' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

