@import colors
@import mixins

#artist-show
  color: $black
  background: $yellow
  border: 1px inset $black
  +roundCorners
  background-image: url('PaperTexture.jpg')
  padding: 20px
  width: 65%
  margin: 0 auto

body > footer
  padding-top: 30px
  padding-bottom: 15px
  color: $white
  +linkColor($orange)
  text-align: center

  .footer-wrapper
    padding-top: 30px

