@import colors
@import mixins

#bounty-list
  width: 1000px
  margin: 0 auto

  .bounty-square
    float: left
    height: 240px
    width: 280px
    background: $yellow
    border: 1px inset $black
    +roundCorners
    background-image: url('PaperTexture.jpg')
    position: relative
    padding: 9px
    overflow: hidden
    text-overflow: ellipsis
    margin-bottom: 10px

    .nail
      position: absolute
      bottom: 85%
      left: 55%
      height: 22px
      width: 22px
      background-image: url('nail.png')
      background-repeat: no-repeat
      background-position: center

    .name
      width: 150px
      font-size: 240%
      line-height: 30px
      font-family: 'Carnevalee Freakshow'
      margin: 0px 0px 15px 0px
      padding: 5px
      text-align: center
      +rotate(-10deg)
      overflow: hidden

    .short-desc
      margin: 5%
      max-height: 35%

    .control-area
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 30%
      min-height: 30%
      text-align: center

    .vote-controls
      margin-top: 5%
      margin-right: 5%
      display: inline-block

    .upvote
      height: 44px
      width: 44px
      background-image: url('VoteUpB.png')
      background-repeat: no-repeat
      background-position: center
      display: inline-block

    .upvote-red
      background-image: url('VoteUp.png')

    .upvote-grey
      background-image: url('VoteUpG.png')


    .downvote
      height: 44px
      width: 44px
      background-image: url('VoteDownB.png')
      background-repeat: no-repeat
      background-position: center
      display: inline-block

    .downvote-red
      background-image: url('VoteDown.png')

    .downvote-grey
      background-image: url('VoteDownG.png')

    .read-more-button
      display: inline-block
      margin-right: 3%
      margin-bottom: 10%

