$black: #1b1714;
$white: #FFFFFF;

$brown: #341405;
$darkBrown: #1F0D03;
$lightOrange: #B95D34;
$orange: #B04B21;
$yellow: #e7cab0;
$lightYellow: #EBC37E;
$lightRed: #8D1610;
$darkRed: #590400;

$lightBlue: #0056EB;
$darkBlue: #001B4A;