@mixin roundCorners() {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@mixin verticalCenter() {
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

@mixin gradient($one, $two) {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($one), to($two));
    background-image: -webkit-linear-gradient(top, $one, $two);
    background-image: -moz-linear-gradient(top, $one, $two);
    background-image: -ms-linear-gradient(top, $one, $two);
    background-image: -o-linear-gradient(top, $one, $two);
    background-image: linear-gradient(top, $one, $two);
}

@mixin linkColor($color) {
    a:link {color: $color;}
    a:visited {color: $color;}
    a:hover {color: $color;}
    a:active {color: $color;}
}

@mixin linkDecoration() {
    a:link {text-decoration:none;}
    a:visited {text-decoration:none;}
    a:hover {text-decoration:none;}
    a:active {text-decoration:none;}
}

@mixin rotate($degree) {
    -webkit-transform: rotate($degree);
    -moz-transform:    rotate($degree);
    -ms-transform:     rotate($degree);
    -o-transform:      rotate($degree);
}

