@import "persona-buttons";
@import "colors";
@import "mixins";

@font-face {
  font-family: 'HELLDORA';
  src:url('HELLDORA.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NASHVILL';
  src:url('NASHVILL.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FREAKSHOW';
  src:url('FREAKSHOW.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ROSEWOOD';
  src:url('ROSEWOOD.TTF');
  font-weight: normal;
  font-style: normal;
}


p {
	font-size: 1.1em;
	line-height: 1.7em;
}

body {
	padding-top: 60px;
	background: $darkBrown;
	color: $lightYellow;
	@include gradient($black, $brown);
	background-image:url('WoodTexture.jpg');
}


a:link {color: $orange;}
a:visited {color: $orange;}
a:hover {color: $lightOrange;}
a:active {color: $orange;}

.board-header {
	color: $black;
	font-weight: bold;
	font-size: 400%;
	font-family: 'NASHVILL';
	margin-bottom: 20px;
}

.board-subheader {
	color: $black !important;
	font-size: 130%;
}

.hero-unit {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: $yellow;
	border: 1px inset $black;
	@include linkColor($white);
	background-image:url('PaperTexture.jpg');
}

.sidebar-nav {
	background: $yellow;
	border: 1px inset $black;
	@include linkColor($black);
	background-image:url('PaperTexture.jpg');
}

.nav-header {
	font-size: 150%;
	color: $black;
	font-family: 'FREAKSHOW';
}

.bountyCell {
	margin: 0px 10px 10px !important;
	width: 285px !important;
	color: $black;
	background: $yellow;
	border: 1px inset $black;
	@include roundCorners;
	background-image:url('PaperTexture.jpg');
	text-align: center;
	position: relative;
	padding: 9px;
}

.bountyName {
	width: 100%;
	font-size: 300%;
	line-height: 35px;
	font-family: 'HELLDORA';
}

.price {
	font-size: 500%;
	line-height: 100px;
	margin-bottom: 10px;
	font-family: 'HELLDORA';
}

.candidates {
	font-family: 'FREAKSHOW';
	text-align: right;
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-size: 150%;
}



.desc {

}

/* the login buttons are used for user interactivity while the form itself is hidden */
#browser-id-form {
	display: none;
}

/* make the "logged in as <user>" display visible against the black background and vertically centered */
.login-notify-area {
	color: snow;
	vertical-align: middle;
}

.active {
	a:link {color: $white;}
	a:visited {color: $white;}
	a:hover {color: $white;}
	a:active {color: $white;}
}

footer {
	text-align: center;
}
