@import colors
@import mixins
@import nav-bar
@import header
@import bounty-list
@import bounty-show
@import forms
@import artist

@font-face
  font-family: 'Carnevalee Freakshow'
  src: url('carnevaleeFreakshow.ttf')

@font-face
  font-family: 'Nashvill'
  src: url('nashvill.ttf')

+linkDecoration()

p
  font-size: 1.1em
  line-height: 1.7em

html, body
  height: 100%

body
  background: $darkBrown
  font-family: 'Courier'
  color: $black
  +background-gradient($black, $brown)
  background-image: url('WoodTexture.jpg')

.alert-error
  text-align: center
  font-family: 'Carnevalee Freakshow'
  font-size: 300%
  width: 80%
  margin: 20px auto
  +background-gradient($lightRed, $darkRed)
  color: $white
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  border: none

.alert-info
  text-align: center
  font-family: 'Carnevalee Freakshow'
  font-size: 300%
  width: 80%
  margin: 20px auto
  +background-gradient($lightRed, $darkRed)
  color: $white
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  border: none

.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -30px

.bounty-button
  color: white
  padding: 8px 7px
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  border: 0px
  +linkColor($white)
  +background-gradient($lightRed, $darkRed)
  +roundCorners

