@import "persona-buttons";
@import "colors";


/* typography */
/* borrowed from the Rails tutorial at railstutorial.org */

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

body {
	padding-top: 60px;
	background: $grey;
	color: $black;
}

.hero-unit {
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

.bountyCell {

}

/* the login buttons are used for user interactivity while the form itself is hidden */
#browser-id-form {
	display: none;
}

/* make the "logged in as <user>" display visible against the black background and vertically centered */
.login-notify-area {
	color: snow;
	vertical-align: middle;
}

