@import "persona-buttons";
@import "colors";
@import "mixins";

@font-face {
  font-family: 'Carnevalee Freakshow';
  src: url('carnevaleeFreakshow.ttf');
}

@font-face {
  font-family: 'Nashvill';
  src: url('nashvill.ttf');
}


p {
	font-size: 1.1em;
	line-height: 1.7em;
}

body {
	padding-top: 60px;
	background: $darkBrown;
	color: $lightYellow;
	@include gradient($black, $brown);
	background-image:url('WoodTexture.jpg');

}


a:link {color: $orange;}
a:visited {color: $orange;}
a:hover {color: $lightOrange;}
a:active {color: $orange;}

.board-header {
	color: $black;
	font-weight: bold;
	font-size: 400%;
	font-family: 'Nashvill';
	margin-bottom: 20px;
}

.board-subheader {
	color: $black !important;
	font-size: 130%;
}

.hero-unit {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: $yellow;
	border: 1px inset $black;
	@include linkColor($white);
	background-image:url('PaperTexture.jpg');
}

.sidebar-nav {
	background: $yellow;
	border: 1px inset $black;
	@include linkColor($black);
	background-image:url('PaperTexture.jpg');
}

.nav-header {
	font-size: 150%;
	color: $black;
	font-family: 'Nashvill';
}

.bountyCell {
  margin: 0px 10px 10px !important;
  height: 240px;
  width: 285px !important;
  color: $black;
  background: $yellow;
  border: 1px inset $black;
  @include roundCorners;
  background-image:url('PaperTexture.jpg');
  position: relative;
  padding: 9px;
}

.bountyName {
	width: 150px;
	font-size: 240%;
	line-height: 35px;
	font-family: 'Carnevalee Freakshow';
	margin: 10px 0px 40px 0px;
  -webkit-transform: rotate(-15deg);
  -moz-transform:    rotate(-15deg);
  -ms-transform:     rotate(-15deg);
  -o-transform:      rotate(-15deg);
}

.candidateWrapper {
  max-width: 20%;
  overflow: hidden;
  display: inline-block;
}

.candidate {
  height: 50px;
  width: 50px;
  margin: 2.5px 0px;
  background-color: $black;
}

.shortDesc {
  display: inline-block;
  max-width: 70%;
  vertical-align: top;
  margin-left: 10px;
  overflow:hidden;
}

.ribbonWrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font-family: 'Carnevalee Freakshow';
  color: $white;
  text-align: center;
  font-size: 230%;
  text-shadow: 2px 2px $black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 3px 0 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: $darkBrown;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, $orange,
$brown);
  background-image:    -moz-linear-gradient(top, $orange,
$brown);
  background-image:     -ms-linear-gradient(top, $orange,
$brown);
  background-image:      -o-linear-gradient(top, $orange,
$brown);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

/* the login buttons are used for user interactivity while the form itself is hidden */
#browser-id-form {
	display: none;
}

/* make the "logged in as <user>" display visible against the black background and vertically centered */
.login-notify-area {
	color: snow;
	vertical-align: middle;
}

.active {
	a:link {color: $white;}
	a:visited {color: $white;}
	a:hover {color: $white;}
	a:active {color: $white;}
}

footer {
	text-align: center;
}
