<div id="dropdown-filters-controls" class="dropdown dropdown-tip">
  <div class="dropdown-panel">
    <div id="filter-control">
      <label for="filter-cost">Price:</label>
      <input id="filter-cost"
        data-bounty_min_price="<%= Bounty.MINIMUM_PRICE %>"
        data-bounty_max_price="<%= Bounty.MAXIMUM_PRICE %>"
        type="text"
      >
      <div id="filter-cost-widget" class="filters-slider"></div>
      <hr>
      <p>Age-Restricted Bounties</p>
      <div id="filter-adult" class="filter-buttonset">
        <label for="filter-adult-all">Show All</label><input id="filter-adult-all" type="radio" name="filter-adult" value="all"><label for="filter-adult-other">G-Rated Only</label><input id="filter-adult-other" type="radio" name="filter-adult" value="kid-friendly" checked><label for="filter-adult-only">Adult Only</label><input id="filter-adult-only" type="radio" name="filter-adult" value="adult">
      </div>
      <hr>
      <p>Bounty Status</p>
      <div id="filter-status" class="filter-buttonset">
        <label for="filter-status-all">All</label><input id="filter-status-all" type="radio" name="filter-status" value="" checked><label for="filter-status-unclaimed">Unclaimed</label><input id="filter-status-unclaimed" type="radio" name="filter-status" value="unclaimed"><label for="filter-status-accepted">In Progress</label><input id="filter-status-accepted" type="radio" name="filter-status" value="accepted"><label for="filter-status-completed">Complete</label><input id="filter-status-completed" type="radio" name="filter-status" value="completed">
      </div>
      <% if signed_in? %>
        <hr>
        <p>My Bounties</p>
        <div id="user-bounties" class="filter-buttonset">
              <label for="show-owner-off">Show All</label><input id="show-owner-off" type="radio" name="user-bounties" value="" checked><label for="show-owner-on">Only Bounties I Own</label><input id="show-owner-on" type="radio" name="user-bounties" value="on">
        </div>
        <% if currentUser.is_a?(Artist) %>
          <hr>
          <p>Searching for Work?</p>
          <div id="artist-bounties" class="filter-buttonset">
                <label for="may-accept-off">Show All</label><input id="may-accept-off" type="radio" name="artist-bounties" value="" checked><label for="may-accept-on">Only Bounties I Can Accept</label><input id="may-accept-on" type="radio" name="artist-bounties" value="on">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

