<% # -*- encoding : utf-8 -*- %>
<ul class="dropdown-menu">
  <li class="nav-header">Price <label for="filter-cost"></label></li>
  <li class="filter-control">
    <input id="filter-cost" type="text">
	<input id="filter-cost-min" type="checkbox"><label for="filter-cost-min">No Min</label>
	<div id="filter-cost-widget" class="filters-slider"></div>
	<input id="filter-cost-max" type="checkbox"><label for="filter-cost-max">No Max</label>
  </li>
</ul>



<!--
<div id="filters-controls">
    <span id="bounty-cost-filter">
      <input type="checkbox" class="filter-toggle">
      Cost:
      <span class="filters-buttonset">
        <label for="filters-cost-range-high">above</label><input id="filters-cost-range-high" type="radio" name="cost-range-filter" value="1">
        <label for="filters-cost-range-low">below</label><input id="filters-cost-range-low" type="radio" name="cost-range-filter" value="0">
      </span>
    </span>
    <span id="bounty-age-filter"><input type="checkbox" class="filter-toggle"> Max Age: <input type="range"> days</span>
    <div>
      <span id="no-adult-content-filter"><input type="checkbox" class="filter-toggle"> Don't Show Adult Content</span>
      <span id="only-adult-content-filter"><input type="checkbox" class="filter-toggle"> Only Show Adult Content</span>
    </div>
</div>
-->

