<% # -*- encoding : utf-8 -*- %>
<div id="dropdown-filters-controls" class="dropdown dropdown-tip">
  <div class="dropdown-panel">
    <div class="filter-control">
      <p>Price <label for="filter-cost"></label></p>
      <input id="filter-cost" type="text">
  	  <input id="filter-cost-min" type="checkbox"><label for="filter-cost-min">No Min</label>
  	  <div id="filter-cost-widget" class="filters-slider"></div>
  	  <input id="filter-cost-max" type="checkbox"><label for="filter-cost-max">No Max</label>
    </div>
  </div>
</div>

