# encoding: UTF-8
<div class="container-fluid">
	<footer class="row-fluid">
		&copy; Lionheart Studio and Brent Houghton, 2012<br>
		The Bounty Board is free software available under the open source AGPL
		license.
		<a href="http://github.com/lionheartstudio/bountyboard">View the source code.</a><br>
	</footer>
</div>

