# -*- encoding : utf-8 -*-
<footer>
  <div class="footer-wrapper">
    &copy; Lionheart Studio, Nixie Bishop, and Brent Houghton, 2013<br>
    The Bounty Board is free software available under the open source AGPL
    license.
    <a href="http://github.com/lionheartstudio/bountyboard">Play with the source code.</a><br>
  </div>
</footer>


