<%
# This partial provides a button for logging in. Render the persona-lib partial
# in the page's head and the login-form partial anywhere in the body to use the
# Persona login functionality.
%>
<button type="button" onclick="$('#browser_id_form :submit').click();" class="btn">Sign In with Persona</button>

