# encoding: UTF-8
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%= link_to 'The Bounty Board', '#', class: 'brand' %>
			<nav class="nav-collapse collapse">
				<ul class="nav">
					<li><%= link_to 'About', '#' %></li>
				</ul>
			</nav>
			<% 
				# TODO: print a 'logged in as <email>' message in place of the
				# login button if the user is already logged in
			%>
			<%= render 'layouts/persona_form' %>
		</div>
	</div>
</header>

