<%
# This partial provides a form for logging in. Render the persona-lib partial
# in the page's head to use the Persona login functionality.
%>
<!--
<form id="browser_id_form" action="/auth/browser_id/callback">
	<input type="hidden" name="assertion">
	<button type="submit" class="persona-button"><span>Sign-In with Persona</span></button>
</form>
-->
<a class="dropdown-toggle" data-toggle="dropdown" href="#">Artist Sign-In <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li>
		<form id="browser_id_form" action="/auth/browser_id/callback">
			<input type="hidden" name="assertion">
			<button type="submit" class="persona-button"><span>Persona Sign-In</span></button>
		</form>
	</li>
	<li><%= link_to 'DeviantArt Sign-In', '/auth/deviantart' %></li>
</ul>

