<%
# This partial provides a form for logging in. Render the persona-lib partial
# in the page's head to use the Persona login functionality.
%>
<form id="browser_id_form" action="/auth/browser_id/callback">
	<input type="hidden" name="assertion">
	<button type="submit" class="btn pull-right"><span>Sign In with Persona</span></button>
</form>

