<%
  # This partial provides a button for posting a bounty, but falls back to
  # rendering a login button if the user isn't logged in (and therefore shouldn't
  # be able to post a bounty).
%>
<% if signedIn? %>
<%=   link_to 'Post a Bounty', new_bounty_path, id: 'post-bounty', class: 'btn btn-large btn-primary' %>
<%  else %>
    <button class="persona-login-button btn btn-large btn-primary" type="button">Sign In to Post Your Bounty</button>
<%  end %>

