<% if signed_in? %>
  <%=   link_to 'Post a Bounty', new_bounty_path, id: 'post-bounty', class: 'header-button' %>
<%  else %>
  <button id="persona-login-button" class="header-button">Sign In to Post Your Bounty</button>
<%  end %>


