<%
	# This partial provides a button for posting a bounty, but falls back to
	# rendering a login button if the user isn't logged in (and therefore shouldn't
	# be able to post a bounty).

# TODO: implement detection of whether the user is logged in
# if signed_in
if false %>
<%=		link_to 'Post a Bounty', '#', class: 'btn btn-large btn-primary' %>
<%	else %>
		<button class="persona-login-button btn btn-large btn-primary" type="button">Sign In to Post Your Own Bounty</button>
<%	end %>

