<% if signed_in? %>
  <%=   link_to 'Post a Bounty', new_bounty_path, id: 'post-bounty', class: '' %>
<%  else %>
  <button class="persona-login-button">Sign In to Post Your Bounty</button>
<%  end %>


